**Strings**

If you want to use text in Python, you have to use a **string.**

A **string** is created by entering text between **two single or double quotation masks**

> print("Python is fun!")

> print('Always look on the bright side of life')

The delimiter ("or') used for a string doesn't affect how it behaves in anyway.

In [ ]:
print("Hello world!")

Hello world!

**Backslash**

Some characters can't be directly included in a string. For instance, double quotes can't be directly included in a double quote string; this would cause it to end prematurely.

Characters like these must be escaped by placing a **backslash** before them. Double quotes only need to be escaped in double quote strings, and the same is true for singel quote strings.

**For Example:**

> print('Brian\'s mother: He\'s not an angel. He\'s a very naughty boy!')

**Backslashes** can also be used to escape tabs, arbitraty Unicode characters, and various other things that can't be reliably printed.

In [ ]:
print('Brain\'s mother: He\'s not an angel. He\'s a very naughty boy!')

Brain's mother: He's not an angel. He's a very naughty boy!

In [ ]:
print('I\'m learning!')

I'm learning!

**Newlines**

**\n** represents a new line.

It can be used in strings to create multi-line output:

> print('One \nTwo \nThree')

Similarly, **\t** represents a tab.

In [ ]:
print("Hello \nWorld")

Hello
World

**Newlines**

Newlines will be automatically added for strings that are created using **three quotes**.

**For example**

> print(   
  
            """

            this
            is a 
            multiline 
            text

            """
            )

This makes it easier to format long, multi-line texts without the need to explicitly put **\n** for line breaks.

In [ ]:
print("Hi")
print("""This 
is 
great""")

Hi
This
is
great

In [ ]:
print("Hi \nThis \nis \ngreat")

Hi
This
is
great

**Concatenation**

As with integers and floats, strings in Python can be added, using a process called **concatenation**, which can be done on any two strings.

> print("Spam" + 'eggs')

Even if your strings contain numbers, they are still added as strings rather than integers.

> print("2" + "2")

**Adding** a **string** to a **number** produces an **error**, as even though they might look similar, they are two different entities.

In [ ]:
print("Python " + "is " + "awesome. ")

Python is awesome.

**String Operations**

Strings can also be **multipled by** **integers.** 

This produces a **repeated version of the original string**. The order of the string and the integer doesn't matter, but the string usually coms first.

> print("spam" *3)

> print(4 * '2')

Strings can't be multiplied by other strings. Strings also can't be multiplied by floats, even if the floats are whole numbers.

In [ ]:
print(3*'7')

777

**Variables**

A **variable** allows you to store a value by assigning it to a name, which can be used to refer to the value alter in the program.

For example, in game development, you would use a variable to store the points of the player. 

To assign a variable, use **one equals sign**

> user = "James"

In given example we assigned string "James" to user variable.

In [ ]:
age = 42

print(age)

42

**Variable names**

Certain restrictions apply in regard to the characters that may be used in Python variable names. The only characters that are allowed are 
- **letters,** 
- **numbers,** and 
- **underscores.** 

Also, they can't start with numbers. Not following these rules results in errors.

> this_is_a_normal_name = 7

> 123abc = 7 
SyntaxError: invalid syntax

Python is a case sensitive programming language. Thus, **Lastname** and **lastname** are two **different variable** names in Python.

In [ ]:
A_VARIABLE_NAME = True

if A_VARIABLE_NAME == True:
  print("yes")

yes

**Working with Variables**

You can use variables to perform corresponding operations, just as you did with numbers and strings:

> x = 7

> print(x)

> print( x + 3)

> print(x)

As you can see, the variable stores its value throughout the program.

In [ ]:
spam = "eggs"

print(spam*3)

eggseggseggs

**Working with Variables**

Variables can be reassigned as many times as you want, in order to change their value.

**In Python**, variables **don't have specific types**, so you can assign a string to a variable, and later assign an integer to the same variable.

> x = 123.456

> print(x)

> x = "This is a string"

> print(x + "!")

However, it is not good practice. To avaid mistakes, try to avoid overwriting the same variable with different data types.

In [ ]:
x = 5
y = 7

print(x + y)

12

**Input**

Let's assume we want to take the age of the user as input. We know that the **input()** function returns a string. To convert it to a number, we can use the **int()** function.

> age = int(input())

> print(age)

Similarly, inorder to convert a number to a string, the "str()" function is used. This can be useful if you need to use a number in string concatenation.

For example:

> age = 42

> print("His age is " + str(age))

In [ ]:
x = "2"
y = "4"
z = int(x) + int(y)
print(z)

6

**Input**

You can use input() multiple times to take multiple user inputs 

**For example:**

> name = input()

> age = input()

> print(name + " is " + age)

When input() function executes, program flow stops until a user enters some value.

In [ ]:
x = int(input())
y = int(input())

print(x + y)

7
3
10

**In-Place Operators**

**In-place operators** allow you to write code like 'x = x + 3' more concisely, as ' x +=3'.

The same thing is possible with other operators such as -, * , /and % as well.

> x = 2 

> print(x)

> x += 3

> print(x)

In [ ]:
x = 4
x *=3

print(x)

12

**In-place Operators**

These operators can be used on types other than numbers, as well, such as **strings**

> x = "spam"

> print(x)

> x += "eggs"

> print(x)

In-place operators can be used for any numerical operation( + , - , * , / , %, **, //).

In [ ]:
x = "a"
x *= 3

print(x)

aaa

In [ ]:
spam = "7"
spam = spam + "0"
eggs = int(spam) + 3

print(float(eggs))

73.0

In [ ]:
#enter '42' as input:

age = int(input())
print(age + 8)

42
50

In [ ]:
x = 5
y = x +3
y = int(str(y) + "2")

print(y)

82

In [ ]:
x = 4
x += 5

print(x)

9

In [ ]:
x = 3 
num = 17

print(num%x) # 3*5 =15

2

In [ ]:
name = input()

print("Welcome,"+ name)

john
Welcome,john